<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- We can define our beans here -->
  <!--  <bean id="sessionHibernate" class="">

    </bean>-->
    <context:component-scan base-package="Hibernate"></context:component-scan>


    <bean id="DaoImplID" init-method="init" class="Dao.DaoImp"></bean>
    <bean id="DepartmentID" init-method="init" destroy-method="destroy" class="Dao.DepartmentDao" >
        <!--<constructor-arg ref="sessionHibernate"></constructor-arg>-->
    </bean>
    <bean id="MemberDaoID" class="Dao.MemberDao"></bean>
    <bean id="sessionFactory" class="Hibernate.HibernateUtils"></bean>
</beans>